<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le Rendez-vous</title>
</head>
<body>
    <h1>Modifier le rendez-vous</h1>
    <form action="/rendezvous/<%= rendezvous._id %>" method="POST">
        <input type="hidden" name="_method" value="PUT"> <!-- Pour indiquer que la méthode est PUT -->

        <label for="clientName">Nom du client:</label>
        <input type="text" id="clientName" name="clientName" value="<%= rendezvous.clientName %>" required><br><br>

        <label for="serviceName">Service:</label>
        <select id="serviceName" name="serviceName" required>
            <% services.forEach(service => { %>
                <option value="<%= service.name %>" <%= service.name === rendezvous.serviceName ? 'selected' : '' %>><%= service.name %></option>
            <% }) %>
        </select><br><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" value="<%= rendezvous.date %>" required><br><br>

        <label for="time">Heure:</label>
        <input type="time" id="time" name="time" value="<%= rendezvous.time %>" required><br><br>

        <button type="submit">Modifier</button>
    </form>
    <br>
    <a href="/rendezvous">Retour à la liste des rendez-vous</a>
</body>
</html>
